@page
@model IndexModel
@{
    ViewData["Title"] = "Javier Prieto";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="display-4">HDV</h1>
            <p>Powered by TatoCoffeeCode <a href="https://github.com/tatoveins">Building Web Apps with ASP.NET</a></p>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Informacion Personal</h2>
                        <p>Nombre: Javier Prieto</p>
                        <p>Email: hj201167@gmail.com</p>
                        <p>Movil: +57 3213365598</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Educacion</h2>
                        <p>Escuela de Ingenieria Julio Garavito - Analista  de Procesos IT y Desarrollo Tecnologico</p>
                        <p>CS</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Experiencia Laboral</h2>
                        <p>Experiencia ABC - CTO</p>
                        <p>Responsabilidades:</p>
                        <ul>
                            <li>FullStack</li>
                            <li>DevOps</li>
                            <li>Infraestructura</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>