@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>About Me</p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

<style>
    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .image-container {
        width: 200px;
        height: 200px;
        margin: 10px;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }
</style>

<div class="gallery">
    <a data-fancybox="gallery" href="https://img.freepik.com/free-vector/neon-style-coming-soon-glowing-background-design_1017-25516.jpg" class="image-container">
        <img src="https://img.freepik.com/free-vector/neon-style-coming-soon-glowing-background-design_1017-25516.jpg" alt="Image 1">
    </a>
    <a data-fancybox="gallery" href="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" class="image-container">
        <img src="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" alt="Image 2">
    </a>
    <a data-fancybox="gallery" href="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" class="image-container">
        <img src="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" alt="Image 3">
    </a>
    <a data-fancybox="gallery" href="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" class="image-container">
        <img src="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" alt="Image 4">
    </a>
    <a data-fancybox="gallery" href="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" class="image-container">
        <img src="https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg" alt="Image 5">
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
    $("[data-fancybox]").fancybox({
        loop: true,
        transitionEffect: "slide",
        buttons: [
            "zoom",
            "slideShow",
            "fullScreen",
            "thumbs",
            "close"
        ],
        animationEffect: "zoom-in-out"
    });
</script>
